/jet_components
/node_modules
/bower_components
/deploy
/web
/staged-themes
/jaftmp@

/src/themes/ecovues/web/images/onevue_recording.mov
/src/themes/ecovues/web/images/OneVueApplication_AddingBusinessRule2.mov
/src/themes/ecovues/web/images/OneVueApplication_MatchtToPO.mov

/hybrid/node_modules
/hybrid/platforms
/hybrid/www/*

!hybrid/plugins
hybrid/plugins/*
!hybrid/plugins/fetch.json

.DS_Store
Thumbs.db