<style>
  .playButton:hover tooltiptext {
    visibility: visible;
  }

  #slideContent {
    background-color: #fff;
    width: 650px;
    border: 1px solid green;
    padding: 60px;
    margin-left: 25px;
  }

  .col-md-6 ul li {
    animation-name: example;
    animation-duration: 3s;

  }

  .col-md-6 ul li {
    position: relative;
    animation: mymove s;
    animation-direction: reverse;
  }

  @keyframes mymove {
    from {
      bottom: 1000px;
    }

    to {}
  }


  #slideImage {

    background-color: #fff;
  }
</style>

<div class="about_ecovues oj-panel" style="margin-top: 6%; margin-bottom: 2%;">
  <h2 class="text-center">OneVue Application</h2>
</div>
<div class="oneapplication ">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-6" id="slideContent">
            <h4>End – End Document Automation with OneVue</h4>
            <p style="text-align: center; font-family: sans-serif;">Ecovue Solutions OneVue with Oracle Content
              Management Cloud and/or WebCenter Content is a centralized
              document management application portal to be able to process the document from Scanning to OCR to
              Verification to Exceptions Processing to Approvals and integrating with end ERP Applications like
              Oracle
              eBusiness Suite, Oracle PeopleSoft, SAP etc.</p>
          </div>
          <div class="col-md-6" id="slideImage">
            <img src="css\ecovues-redwood\0.0.1\web\images\1.png" style="width: 800px;height: 400px;" alt="...">
          </div>
        </div>
      </div>
      <div class="carousel-item">

        <div class="row">
          <div class="col-md-6" id="slideContent">
            <h4>End – Key Features</h4>
            <ul>
              <li>Centralized User Interface: Ecovue OneVue Invoice Portal to process/manage all transactions for
                verifying/coding/exception processing/approval etc.</li>
              <li> Dashboard: with Metrics, KPI’s, Charts </li>
              <li> XML to PDF: For Italy eInvoicing </li>
              <li> Excel Upload: Upload Invoices / Coding Rules from Excel</li>
            </ul>
          </div>
          <div class="col-md-6">
            <img src="css\ecovues\0.0.1\web\images\1vue.png" class=" "
              alt=" ..." style="width: 650px;height: 400px;">
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row">
          <div class="col-md-6" id="slideContent">
            <ul>
              <li>Auto Coding: User defined coding rules for auto coding based on multiple attributes</li>
              <li>PO Matching: Match to PO, Match to Release, Match to Receipt with Custom PO Line Pairing</li>
              <li>Federated Search: Users can search Invoices from within the Application and or from Content
                Repository</li>
              <li>User Management: Optionally user directory can be maintained withing the application</li>
            </ul>
          </div>
          <div class="col-md-6" id="slideImage">
            <img src="css\ecovues-redwood\0.0.1\web\images\3reports.png" style="width: 650px;height: 400px;" alt="...">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-6" id="slideContent">
            <ul>
              <li>Auto Coding: User defined coding rules for auto coding based on multiple attributes</li>
              <li>PO Matching: Match to PO, Match to Release, Match to Receipt with Custom PO Line Pairing</li>
              <li>Federated Search: Users can search Invoices from within the Application and or from Content
                Repository</li>
              <li>User Management: Optionally user directory can be maintained withing the application</li>
            </ul>
          </div>
          <div class="col-md-6" id="slideImage">
            <img src="css\ecovues-redwood\0.0.1\web\images\4match.png" style="width: 650px;height: 400px;" alt="...">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-6" id="slideContent">
            <h4>MyTasks: </h4>
            <ul>
              <li>Queues based on Region, Operating Units, Assigned Groups</li>
              <li>Filter By: Status, Exception Type, Invoice Type, Aging</li>
              <li>Sort By: Invoice Date, Creation Date, Scanned Date</li>
              <li>Check Request Handling</li>
              <li>Upload Invoices from Excel</li>
              <li> Auto Task</li>
            </ul>
          </div>
          <div class="col-md-6" id="slideImage">
            <img src="css\ecovues-redwood\0.0.1\web\images\6mytask.png" style="width: 650px;height: 400px;" alt="...">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-6" id="slideContent">
            <h4>External OCR Engine </h4>
            <ul>
              <li>Queues based on Region, Operating Units, Assigned Groups</li>
              <li>Automate with Self Learning AI : Rossum automatically learns from each Invoice its processes,
                getting smarter with each use</li>
              <li>Sort By: Invoice Date, Creation Date, Scanned Date</li>
              <li>Check Request Handling</li>
              <li>Upload Invoices from Excel</li>
              <li> Auto Task</li>
            </ul>
          </div>
          <div class="col-md-6" id="slideImage">
            <img src="css\ecovues-redwood\0.0.1\web\images\8invoice.png" style="width: 650px;height: 400px;" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: black;"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
  <span class="carousel-control-next-icon carousel-dark" aria-hidden="true" style="background-color: black;"></span>
  <span class="visually-hidden">Next</span>
</button>

<div class="carousel" style="margin-left: 40%; ">
  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
    aria-current="true" aria-label="Slide 1" style="background-color: black; width: 5%;"></button>
  <button type=" button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"
    style="background-color: black;width: 5%;"></button>
  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"
    style="background-color: black;width: 5%;"></button>
  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"
    style="background-color: black;width: 5%;"></button>
  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"
    style="background-color: black;width: 5%;"></button>
  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"
    style="background-color: black; width: 5%;"></button>
  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"
    style="background-color: black;width: 5%;"></button>
  <button class="playButton" id="pause" style="margin-top: 10px;">
    <i class="fas fa-pause"></i>

  </button>
</div>
