<div id=button class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-center" style="margin-top: 8%;">
    <h4 class="heading">Careers</h4>
</div>
<div id="demo-container">
    <div class="oj-flex" style="width: 200px;" align="left">
        <!-- <oj-select-one id="regionslist" on-value-changed="[[triggerEventRegions]]" options="[[regions]]"
        value="{{regionValue}}" disabled="{{ouDisable}}" style="width:auto;min-width: 12em;">
    </oj-select-one> -->
        <div class="oj-flex-item">
            <oj-select-single data="[[regionslist]]" value="{{buttonValue}}" label-hint="Region"></oj-select-single>
        </div>
    </div>
    <oj-bind-if test="[[buttonValue() === 'US']]">
        <div class="leadsoftwareengineer">
            <h4 class="heading">Title: Lead Software Engineer</h4>
            <p class="textparagraph"><b>Duties:</b> Work with business users and gather requirements. Set up
                roles-security.
                Configure enterprise and
                workforce structures. Create and update new jobs, positions, assignments using HSDL. Update organization
                changes, AORs, grades, contract extensions, terminations. Update UDTs and lookup codes. Generate monthly
                reports
                for self-billing. Work on enhancement requests. Schedule P2T/T2T refresh. Configure Talent rating
                models,
                profiles, questions, questionnaire libraries, templates with sections, review periods and Goal
                Management
                setups
                like goals, goal plans, goals library, and alignment. Test end to end functionalities of Goal and
                Performance
                Management, Core HR and Learn. Develop and work with HCM Extracts, BI Publisher based xml reports,
                scheduling
                agents and data models. Create walk-me navigation. Work with the Taleo team to implement ORC module. Use
                Fusion
                HCM applications, Base Benefits, Benefits Administration, SQL, Oracle, C, Linux, Shell scripting, GIT,
                Jenkins,
                JIRA, Informatica, DWH, PeopleSoft, Workflows and Personalization, CyberArk.</p>
            <p class="textparagraph">
                <b>Other:</b> Full Time. Travel involved to unanticipated client locations within the US
            </p>
            <p class="textparagraph"><b>Requirements:</b>Bachelor’s degree in Computer Science and Engineering or
                Equivalent
                + 5
                years of experience in
                job offered or related. Any suitable combination of education, training or experience accepted. Any
                suitable
                combination of education, training or experience accepted.</p>
            <p class="textparagraph"><b>Location:</b> Alpharetta, GA</p>
            <p class="textparagraph"><b>Respond to:</b> HR – Code SK, Ecovue Solutions, LLC, 6110 McFarland Station
                Drive,
                Suite
                203, Bldg. 200, Alpharetta, GA 30004

                This position is eligible for our employee referral program</p>
        </div>
        <div class="softwareengineer">
            <h4 class="heading">Software Engineer</h4>
            <p class="textparagraph"><b>Duties:</b>Gather and review requirements, plan, design, and develop the
                business
                requirements. Implement
                security on web applications and on environments to be used. Quantify the amount of work and prioritize
                work
                in
                accordance with business necessities. Secure data, utilize authorization and authentication process
                including
                multifactor authentications. Use Advanced technologies and frameworks for development of applications
                like
                JAVA/J2EE, Spring Framework, Spring boot, Microservices, JPA, Hibernate, Restful services, Angular,
                React,
                typescript, JavaScript. Use data extraction tools like Pentaho Spoon or OCR process. Support production,
                troubleshoot issues, and perform end-to-end operations. Use tools LDAP, OATH2, Spring security. Work on
                product
                OneVue development, implement features like invoice processing, dashboard monitoring, invoice search,
                Supplier
                Maintenance, a centralized user interface to access all the WebCenter components and customer
                processing.
                Integrate the application with Oracle WebCenter products.
            </p>
            <p class="textparagraph"><b>Other:</b> Full Time. Travel involved to unanticipated client locations within
                the
                US
            </p>
            <p class="textparagraph"><b>Requirements:</b>Master’s degree in Information Systems Technologies-Information
                Assurance or Equivalent + 1 year
                of experience in job offered or related. Any suitable combination of education, training or experience
                accepted
            </p>
            <p><b>Location:</b> Alpharetta, GA</p>
            <p class="textparagraph">
                <b>
                    Respond to:</b> HR – Code NRB, Ecovue Solutions, LLC, 6110 McFarland Station Drive, Suite 203, Bldg
                200,
                Alpharetta, GA 30004.
                This position is eligible for our employee referral program
            </p>
        </div>
        <div class="Data Architect">
            <h4 class="heading">Title: Data Architect</h4>
            <p class="textparagraph"><b>Duties:</b>Manage production infrastructure on Oracle cloud, including the
                servers and
                services. Understand client systems and applications, networking, infrastructure, data centers, web
                tools and
                technologies, databases, and ERP. Translate the client’s business needs into specific systems,
                applications or
                process designs and integrate architecture. Design scalable solutions for infrastructure environment in
                fields
                like provisioning, configuration deployments, monitoring, logging. Improve and simplify the production
                infrastructure. Work with research and development teams and provide customer friendly solutions and
                support.
                Create logical data model from the conceptual model, validate the model with response to questionnaire
                from
                business analyst, and convert it into physical database design. Use Oracle Fusion Middleware
                technologies -
                weblogic stack, SOA.
            </p>
            <p class="textparagraph"><b>Other:</b> Full Time. Travel involved to unanticipated client locations within
                the US
            </p>
            <p class="textparagraph"><b>Requirements:</b>Master’s degree in Computer Science or Equivalent + 1 year of
                experience in job offered or related. Any suitable combination of education, training or experience
                accepted.
            </p>
            <p class="textparagraph"><b>Location:</b> Alpharetta, GA</p>
            <p class="textparagraph"><b>Respond to:</b>
                HR – Code SKM, Ecovue Solutions, LLC, 6110 McFarland Station Drive, Suite 203, Bldg. 200, Alpharetta, GA
                30004
                This position is eligible for our employee referral program</p>

        </div>
        <div class="Senior Software Engineer">
            <h4 class="heading">Title: Senior Software Engineer</h4>
            <p class="textparagraph"><b>Duties:</b>Develop applications using Fusion Middleware (SOA Suite, ADF business
                Components and web services) and integrate Oracle WebCenter Imaging with ERP applications for invoice
                and vendor
                document management. Install and Configure Webcenter Capture and Forms Recognition. Deploy and configure
                Oracle
                AP Solution Accelerator and EBS Adaptor to integrate Oracle E-Business suite with Oracle Webcenter
                Develop
                interfaces using SOA 11G and 12C, Oracle Integration Cloud, and work on various POCs as per organization
                standards.Design SPOC for the interfaces and develop using SOA and OSB. Test and deploy interfaces
                across
                multiple environments. Prepare MD70 for the entire interface. Use tools and technologies such as: SOA
                11G, OSB
                11G, OIC, SQL, Winscp, SQL developer, Eclipse, SOAP UI, Postman, Unix, Java.</p>
            <p class="textparagraph"><b>Other:</b>Full Time. Travel involved to unanticipated client locations within US
            </p>
            <p class="textparagraph"><b>Requirements:</b>Bachelor's degree in Computer Science and Engineering or
                Equivalent + 5
                years of experience in job offered or related. Any suitable combination of education, training or
                experience
                accepted.</p>
            <p class="textparagraph"><b>Location:</b>Alpharetta, GA</p>
            <p class="textparagraph"><b>Respond to:</b>HR – Code SSNS, Ecovue Solutions, LLC, 6110 McFarland Station
                Drive,
                Suite 203, Bldg. 200, Alpharetta, GA 30004
                This position is eligible for our employee referral program</p>
        </div>
        <div class="Software Engineer">
            <h4 class="heading">Title: Software Engineer</h4>
            <p class="textparagraph"><b>Duties:</b>Deploy and configure Oracle Webcenter products. Design, develop and
                deploy
                custom solutions to integrate Webcenter with ERP systems such as: Oracle EBS, PeopleSoft and SAP.
                Improve risk
                information availability via APIs, recommend optimization ideas using cloud and on-prem solution. Work
                with
                Service Oriented Architecture (SOA) by building RESTful services, XML/JSON, and modern Application
                Servers.
                Develop proficient code in Java, J2EE, Spring MVC, Spring Core, SpringBoot and JavaScript for all
                intended
                applications. Work with DevOps, Continuous Integration and Delivery tools like Jenkins, Maven, uDeploy,
                Git/Stash, Nexus and Docker. Develop web applications using JSP, HTML, CSS/SASS, JQuery, Angular and
                NodeJS.
                Application development in Agile methodologies (JIRA, SCRUM). Maintain applications in cloud computing
                environments (AWS, Azure)</p>
            <p class="textparagraph"><b>Other:</b>Full Time. Travel involved to unanticipated client locations within
                US.</p>
            <p class="textparagraph"><b>Requirements:</b>Masters’ degree in Computer Science or Equivalent +1 years of
                experience in job offered or related. Any suitable combination of education, training or experience
                accepted.
            </p>
            <p class="textparagraph"><b>Location: </b>Alpharetta, GA</p>
            <p class="textparagraph"><b>Respond to:</b>HR – Code PRD, Ecovue Solutions, LLC, 6110 McFarland Station
                Drive, Suite
                203, Bldg. 200, Alpharetta, GA 30004
                This position is eligible for our employee referral program</p>
        </div>
        <div class="Senior Software Engineer">
            <h4 class="heading">Title: Senior Software Engineer</h4>
            <p class="textparagraph"><b>Duties:</b>Work on Agile methodology, analyze user requirements and participate
                in Scrum meetings to understand and feature User stories. Coordinate with teams to develop and maintain
                schedules and development status; perform root cause analysis and enchantment/fixes methods; and upgrade
                industry innovation and technology. Assist in Development Priority List Process and maintain
                applications in production. Design and implement complex applications and database automation release
                tasks. Develop monitoring tools and solutions to make production-ready applications with New Relic, App
                Dynamic, Splunk and APL. Design build of open LDAP cluster with HA Proxy. Provide solutions for
                performance management, disaster recovery and access management. Design techniques to resolve incident,
                change and problem management, security and compliance. Use tools and Technologies such as: Docker,
                Kubernetes, Terraform, Ansible, New relic, Splunk, Prometheus, AWS, Jenkins, Github, Python, Shell,
                Postgres, Oracle and Grafana.</p>
            <p class="textparagraph"><b>Other:</b>Full Time. Travel involved to unanticipated client locations within
                US.</p>
            <p class="textparagraph"><b>Requirements:</b>:Master's degree in Electrical Engineering or Equivalent + 1
                year of experience in job offered or related. Any suitable combination of education, training or
                experience accepted.</p>
            <p class="textparagraph"><b>Location: </b>Alpharetta, GA</p>
            <p class="textparagraph"><b>Respond to:</b>HR – Code SD, Ecovue Solutions, LLC, 6110 McFarland Station Drive, Suite 203, Bldg. 200, Alpharetta, GA 30004
                This position is eligible for our employee referral program</p>
        </div>
    </oj-bind-if>



    <oj-bind-if test="[[buttonValue() === 'India']]">
        <div class="CareersIndia">
            <h4 class="heading">Title: Software Engineer</h4>
            <p class="textparagraph"><b>Duties:</b>Good understanding of HTML, JavaScript, CSS and development using
                HTML/CSS
                practices. Web application development using any UI framework like Angular JS, React JS, Vue, JET.
                Good
                understanding of asynchronous request handling, partial page updates, and AJAX. Strong programming
                skills in any
                scripting language. Understanding of Oracle Database, SQL, PL/SQL, Forms. Serve side Java, Rest API
                development
                will be an added advantage. 3+ years of technology experience in Oracle E-Business Suite or similar
                ERP
                experience. Experience with Oracle WebCenter Content / Imaging is a plus. Solution-focused and
                flexible
                to adapt
                to the needs of the business. Basic understanding of version control flow GIT. Good team player</p>
            <p class="textparagraph"><b>Other:</b>Full Time. No travel</p>
            <p class="textparagraph"><b>Requirements: </b>Bachelor’s degree in Computer Science, Information
                Technology
                or
                equivalent professional experience 4+ years in mentioned field or related. Any suitable combination
                of
                education, training or experience accepted</p>
            <p class="textparagraph"><b>Location: </b>Bengaluru, Karnataka, India</p>
            <p class="textparagraph"><b>Respond to: </b>: HR – Code ESI-SE @ careers@ecovues.com
                This position is eligible for our employee referral program</p>
        </div>
    </oj-bind-if>
</div>