<div id=button class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-center" style="margin-top: 8%;">
  <h4 class="heading">Services</h4>
</div>
  <p class="textparagraph">
    Ecovue Solutions is highly experienced in providing consulting services around Oracle Technology. We have
    established a specialized Enterprise Architecture practice to provide clients with strategic and architectural
    services to maximize their Oracle Technology investment.
  </p>

<div class="oj-pannel">
  <div class="oj-flex">
    <div class="oj-md-05">
<h4 class="heading">Services List</h4>
<p class="textparagraph">Ecovue's services include:</p>
      <ul class="textparagraph">
        <li> Oracle Fusion Middleware Implementations
        </li>
        <ul class="textparagraph">
          <li>WebCenter Imaging</li>
          <li>WebCenter Content</li>
          <li>BPM / SOA</li>
        </ul>
      </ul>
      <ul class="textparagraph">
      <li>ERP Integrations</li>
      <li>Business Intelligence - Data Analytics, Dashboards &amp; Reports</li>
      <li>Consulting Services</li>
      <li>Remote Hosting &amp; Support </li>
      <li>Training</li>
      </ul>
    </div>
    <div class="oj-md-1"></div>
    <div class="oj-md-6">
      <img src="https://www.symbioticconsultinggroup.com/Images/Our-Services2.jpg" style="width: 100%;">
      </img>
    </div>
  </div>
</div>
</br>
</br>
<div>

  <div class="fadeInLeft-1 blind col-md-12 animated bg-color white v fadeInLeft">
    <h4 class="heading">Focus <span>Areas</span></h4>
    <ul class="textparagraph">
        <li><strong>Document, Records and Retention Management -</strong> manage content centrally from creation to archiving and disposition to improve operational efficiencies, control access to critical business information, increase productivity by streamlining document intensive processes and provide a platform to standardise information management practices, achieve compliance and mitigate risks.</li>
        <li><strong>Web Content Management (WCM) –</strong> enables organisations to deploy and manage business-critical web sites as well as to deploy content to enterprise portals and other applications.</li>
        <li><strong>Digital Asset Management (DAM) –</strong> enables management of digital assets allowing users to store, find,and access multimedia assets and automate the creation or print-quality, web-friendly and thumbnail renditions.</li>
        <li><strong>Content / Image Enabled Enterprise Applications –</strong> enables streamlining of business processes and improvement in cost-efficiency, consistency and auditability by integrating content into enterprise applications.</li>
        <li><strong>Imaging and Process Management –</strong> enables end-to-end management of document images within transactional business processes providing content and business process management capabilities from document capture and recognition, to imaging and workflow integrated to Oracle's business applications.</li>
        <li><strong>Social Collaboration / Enterprise 2.0 and ECM –</strong> enables organisations means to promote collaboration, productivity, knowledge sharing, enriched user experience and centralised access using a system of web-based technologies</li>
        <li><strong>Information Rights Management –</strong> This solution complements the above by extending security and activity auditing for all copies of information used and distributed within and outside your organisation</li>
    </ul>
</div>
