<h4 class="heading" style=" text-align: center; margin-top:10%;">Solutions </h4>

<div class="solutions">
  <p class="textparagraph">Ecovue Solutions is most trusted provider of services and
    solutions to companies worldwide, enabling eco-friendly systems for reducing cost and positive impact on
    environment. Ecovue solutions is an Information Technology and Solution Services company providing services in
    Enterprise Content Management.</p>

</div>
<div class="solutionImage" style="margin-left: 30%; width: 30%;">
  <img src="https://www.matellio.com/assets/matellio-ent/images/top_bannerShort.jpg.svg">
  </img>
</div>
</br>
<h4 class="heading">Solutions Showcase
</h4>
<div class="container">
  <div class="row -panel">
    <div class="col-md-3 col-sm-12">
      <div class="solutionsbox">
        <h4 class="heading">Managed Services</h4>
        <br>
        <img 
          src="css\ecovues\0.0.1\web\images\SolutionPageimages\MangedServices.png" class="managedservicesimg">
        </img>
        <div class="managed">
          <br>
          <br>
          <p class="textparagraph">Ecovue Solutions is the largest independent provider of Oracle applications, Fusion
            middleware and database
            managed services in North America.As a natural complement to our focus on Oracle, we also provide a full
            range of managed services relating to other database technologies and underlying infrastructure.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="solutionsbox">

        <h4 class="heading">Oracle Webcenter</h4>
        <br>
        <div class="oracleWebcenter">
          <img  src="css\ecovues\0.0.1\web\images\SolutionPageimages\webcenter.png"
          class="oracleWebcenterimg">
          <br><br>
          <p class="textparagraph">As the Independent Oracle Applications and Technology Solutions company, ecovues has
            invested significantly
            to
            ensure we have the best team of Oracle Webcenter professionals to service your needs.<br><br></p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="solutionsbox">

        <h4 class="heading">Oracle Technology</h4>
        <br>
        <img 
          src="css\ecovues\0.0.1\web\images\SolutionPageimages\orcletechnology.png" class="oracletechimg">
        <br><br>
        <div class="managed">
          <p class="textparagraph">Ecovue Solutions is highly experienced in providing consulting services around Oracle
            Technology. We have
            established a specialist Enterprise Architecture practice within USA to provide clients with strategic and
            architectural services to enable customers to maximise their Oracle Technology investment. </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="solutionsbox">
        <h4 class="heading">Enterprise Integration</h4>
        <img
          src="css\ecovues\0.0.1\web\images\SolutionPageimages\enterpriseIntegration.png" class="enterpriseintegrationimg">
          <br><br>
        <div class="managed">
          <p class="textparagraph">The Ecovue Solutions Integration and Architecture practice is a specialist, results
            focused business unit
            that delivers independent advice which enables our clients to achieve the best outcomes. We are experts in
            our fields and we use our objectivity to stay focused on our customer needs.</p>
        </div>
      </div>
    </div>
  </div>
</div>